.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: var(--max-main-width);
    margin: 30px auto 0 auto;
    padding: 0 1rem;
}
.categories{
    padding: 1rem 11rem;
    background-color: var(--primaryColor);
    font-size: var(--fs-categories);
    display: flex;
    justify-content: space-between;
}
.active-category{
    color: var(--reddish);
}
.categories span{
    cursor: pointer;
    user-select: none;
}
.category-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.category-grid .hide-product{
    display: none;
}
.category-grid .show-product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.category-grid .show-product span{
    text-align: center;
    font-size: var(--fs-product-name);
}
.category-grid .show-product button{
    padding: 1rem 0;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--add-to-cart);
    transition: all var(--button-hover);
    border: 1px solid var(--black);
}
.category-grid .show-product button:hover{
    color: var(--white);
    background-color: var(--black);
}
.category-grid img{
    /* object-fit: cover; */
    width: 100%;
    height: 420px;
    border-radius: 10px;
}